/* FONTS */

@font-face {
  font-family: "proxima-soft-medium";
  src: url("../fonts/proxima-soft-medium.woff2") format("woff2"),
  url("../fonts/proxima-soft-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-soft";
  src: url("../fonts/proxima-soft.woff2") format("woff2"),
  url("../fonts/proxima-soft.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* BASE */

html {
  color: #675e60;
  font-family: "proxima-soft", -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  height: 100%;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-family: "proxima-soft-medium", -apple-system, BlinkMacSystemFont,
  sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0.25em;
}

h2 {
  font-family: "proxima-soft-medium", -apple-system, BlinkMacSystemFont,
  sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}

img {
  height: auto;
  max-width: 100%;
}

div,
a,
td {
  box-sizing: border-box;
}

strong,
b {
  font-family: "proxima-soft-medium", -apple-system, BlinkMacSystemFont,
  sans-serif;
  font-weight: 500;
}

/* HELPERS */

.bg-light {
  background-color: #fafafa;
}

/* LAYOUT */

.section {
  padding-bottom: 0.5em;
}

/* TABLES */

.table {
  text-align: left;
  width: 100%;
}

.table caption {
  color: #9a8e90;
  font-family: "proxima-soft-medium", -apple-system, BlinkMacSystemFont,
  sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 1em;
  text-align: left;
  text-transform: uppercase;
}

.table td {
  background-color: #ffffff;
  border-bottom: 1px solid #efeceb;
  color: #b7a8a8;
  display: block;
  font-size: 0.9375em;
  transition: color 0.25s;
}

.table td.accordion {
  border-bottom: 0;
  cursor: pointer;
}

.table p {
  margin-bottom: 1.25em;
}

.table .link {
  color: inherit;
  display: block;
  padding: 0.6375em 1em 0.75em 1em;
  text-decoration: none;
}

.table .link.has-icon {
  padding-top: 0.5em;
  padding-bottom: 0.375em;
}

.table .hyperlink {
  border-bottom: 1px solid #d8cecc;
  color: inherit;
  text-decoration: none;
}

.table .description {
  border: 0;
  border-bottom: 1px solid #efeceb;
  max-height: 1px;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  transition: max-height 0.25s ease-out;
}

.table .description a {
  border-bottom: 1px solid #d8cecc;
  color: inherit;
  text-decoration: none;
}

.table .arrow {
  float: right;
  padding-left: 0.5em;
  padding-top: 0.0625em;
  transform-origin: 68% 50%;
}

.table .icon {
  display: inline-block;
  padding-right: 1em;
  line-height: 1;
  vertical-align: middle;
}

.table td.is-open {
  color: #675e60;
}

.table td.is-open .arrow {
  transform: rotate(180deg);
}
